<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>TECNIMOTORES</title>
	<!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
    <!-- <link rel="stylesheet" href="/css/confetti_cuisine.css"> -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<nav class="navbar">
		<div>
            <h1 id="title">TECNIMOTORES</h1>
        </div>
        
		<div>
			<a href="/">
				<span class="button">Inicio</span>
			</a>
			<a href="/products/pump">
				<span class="button">Bombas</span>
			</a>
			<a href="/products/motor">
				<span class="button">Motores</span>
			</a>
		</div>
	</nav>

	<div class="container">
		<%- body %>
    </div>
    
    <footer>
        <h1>FOOTER</h1>
    </footer>

</body>

</html>
