<div class="container">
    <% products.forEach(product => { %>
    <p><%= product.name %></p>
    <img src="<%= product.picture %>" alt="" style="width: 80px">
    <img src="https://ae01.alicdn.com/kf/HTB1VtCMRXXXXXXdXpXXq6xXFXXXM/10-1-Ratio-Motor-Reducer-Gear-Reducer-Stepper-Motor-NEMA-34-Planetary-Gear-Reducer-Cheap-Speed.jpg" alt="">
    <% }); %>
</div>